<div class="menu-container">
  <div class="links-container">
    <ul class="links">
      <li><a [routerLink]="['']">Home</a></li>
      <li><a [routerLink]="['/portfolio']">Projects</a></li>
      <li><a [routerLink]="['/contato']">Profile</a></li>
    </ul>
  </div>
  <div class="title-container">
    <h1>DANIEL SOUZA</h1>
  </div>
  <div class="social-container">
    <ul class="social-media">
      <li>
        <a href="https://github.com/danielrsouza10" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/danielrsouza/" target="_blank"
          >Linkedin</a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/danielrsouza/" target="_blank"
          >Instagram</a
        >
      </li>
    </ul>
  </div>
</div>
